@inherits System.Web.Mvc.WebViewPage<LHASocialWork.Models.Templates.SystemInfo>

@using System.Web.Mvc.Html
@using System.Web.Mvc

<div class="editor-label">
	@Html.LabelFor(m => m.Email)
</div>
<div class="editor-field">
	@Html.TextBoxFor(m => m.Email)
	@Html.ValidationMessageFor(m => m.Email)
</div>

<div class="editor-label">
	@Html.LabelFor(m => m.Password)
</div>
<div class="editor-field">
	@Html.PasswordFor(m => m.Password)
	@Html.ValidationMessageFor(m => m.Password)
</div>

<div class="editor-label">
	@Html.LabelFor(m => m.ConfirmPassword)
</div>
<div class="editor-field">
	@Html.PasswordFor(m => m.ConfirmPassword)
	@Html.ValidationMessageFor(m => m.ConfirmPassword)
</div>
